{% extends "templates/layout.twig" %}


{% block content %}

    <!-- Carrousel -->


{#    <div class="col-12 carrouselContainer p-0">#}
{#        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">#}
{#            <div class="carousel-inner">#}
{#                <div class="carousel-item active">#}
{#                    <img class="imgCarrousel w-100" src="https://images3.alphacoders.com/823/thumb-1920-82317.jpg" alt="First slide">#}
{#                </div>#}
{#                <div class="carousel-item">#}
{#                    <img class="imgCarrousel w-100" src="https://picsum.photos/id/237/200/300" alt="Second slide">#}
{#                </div>#}
{#                <div class="carousel-item">#}
{#                    <img class="imgCarrousel w-100" src="https://picsum.photos/id/237/200/300" alt="Third slide">#}
{#                </div>#}
{#            </div>#}
{#            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">#}
{#                <span class="carousel-control-prev-icon iconCarrousel" aria-hidden="true"></span>#}
{#                <span class="sr-only">Previous</span>#}
{#            </a>#}
{#            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">#}
{#                <span class="carousel-control-next-icon iconCarrousel" aria-hidden="true"></span>#}
{#                <span class="sr-only">Next</span>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}

{#    <!-- Cards -->#}

{#    <div class="row col-12 container-fluid cardContainer">#}
{#        <div class="col-3">#}
{#            <div class="hoverImg">#}
{#                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-100" alt="Louvre" />#}
{#            </div>#}
{#        </div>#}

{#        <div class="col-3">#}
{#            <div class="hoverImg">#}
{#                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-100" alt="Louvre" />#}
{#            </div>#}
{#        </div>#}

{#        <div class="col-3">#}
{#            <div class="hoverImg">#}
{#                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-100" alt="Louvre" />#}
{#            </div>#}
{#        </div>#}

{#        <div class="col-3">#}
{#            <div class="hoverImg">#}
{#                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-100" alt="Louvre" />#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <!-- Intro Colección -->#}

{#    <div class="col-12 d-flex flex-column justify-content-center align-items-center">#}
{#        <h1>Unike Summer 2022/23</h1>#}
{#        <p>Descubre la nueva colección de verano</p>#}
{#    </div>#}

{#    <div class="col-12 p-0">#}
{#        <img class="imgCarrousel w-100" src="https://images3.alphacoders.com/823/thumb-1920-82317.jpg" alt="First slide">#}
{#    </div>#}

{#    <!-- Articulos Sueltos -->#}

{#    <div class="col-12 pt-4 pb-4">#}
{#            <div class="row d-flex flex-row justify-content-center align-items-center">#}

{#                <div class="col-2 d-flex flex-column justify-content-center align-items-center">#}
{#                    <div class="card">#}
{#                        <div class="card-1 w-100">#}
{#                            <img class="w-100" src="https://grayson.qodeinteractive.com/wp-content/uploads/2016/07/shop-1-image-1.jpg" alt="First slide">#}
{#                        </div>#}
{#                        <div class="pt-3">#}
{#                            <h3>Cotton-Blend Jacket</h3>#}
{#                            <p>$48.00</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-2 d-flex flex-column justify-content-center align-items-center">#}
{#                    <div class="card">#}
{#                        <div class="card-1 w-100">#}
{#                            <img class="w-100" src="https://grayson.qodeinteractive.com/wp-content/uploads/2016/07/shop-1-image-1.jpg" alt="First slide">#}
{#                        </div>#}
{#                        <div class="pt-3">#}
{#                            <h3>Cotton-Blend Jacket</h3>#}
{#                            <p>$48.00</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-2 d-flex flex-column justify-content-center align-items-center">#}
{#                    <div class="card">#}
{#                        <div class="card-1 w-100">#}
{#                            <img class="w-100" src="https://grayson.qodeinteractive.com/wp-content/uploads/2016/07/shop-1-image-1.jpg" alt="First slide">#}
{#                        </div>#}
{#                        <div class="pt-3">#}
{#                            <h3>Cotton-Blend Jacket</h3>#}
{#                            <p>$48.00</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-2 d-flex flex-column justify-content-center align-items-center">#}
{#                    <div class="card">#}
{#                        <div class="card-1 w-100">#}
{#                            <img class="w-100" src="https://grayson.qodeinteractive.com/wp-content/uploads/2016/07/shop-1-image-1.jpg" alt="First slide">#}
{#                        </div>#}
{#                        <div class="pt-3">#}
{#                            <h3>Cotton-Blend Jacket</h3>#}
{#                            <p>$48.00</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

            </div>
    </div>

{% endblock %}