@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: "Roboto"!important;
    height: 20vh!important;
}

/* Nav CSS */
.navbarContainer {
    font-weight: bold!important;
}
.topNav {
    background: black;
    color: white;
    font-size: 10pt;
    padding: 0.7rem;
    column-gap: 10pt;
}

.imgLogo {
    width: 125px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.2);
}
.iconCarrousel {
    width: 250px!important;
    height: 50px!important;
}

.sr-only {
    opacity: 0!important;
}
.menuNav {
    column-gap: 20pt;
}
.menuDrop {
    padding-right: 50pt!important;
    padding: 20px!important;
    border: none!important;
    width: 25rem;
    background: #f8f9fa!important;
}

.shopLink {
    text-decoration: none;
    color: grey;
}

.shopLink:visited{
    text-decoration: none;
    color: grey;
}

.shopLink:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.iconLayout {
    color: white;
    text-decoration: none;
}

.iconLayout:visited {
    color: white;
    text-decoration: none;
}

.iconLayout:hover{
    text-decoration: none;
}

.iconTwitterFacebook:hover {
    color: rgb(29, 155, 240);
}

.iconInstagram:hover {
    color:deeppink;
}
.buttonSubscribe {
    color: white;
    background: none;
}

.buttonSubscribe:hover {
    color: rgb(29, 155, 240);
}


/* ------------------------- */


/* Footer CSS */
.footerContainer {
    background: black!important;
}

.textFooter {
    font-style: italic;
    text-decoration: none;
    color: white;
}

.textFooter:hover {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.textFooter:visited{
    text-decoration: none;
    color: white;
}

/* ------------------------- */

/* CSS Extra de elementos sueltos */
.cardContainer{
    padding: 20pt;
}

.brandName {
    font-size: 20pt;
}

.carrouselContainer {
    height: auto;
}

.imgCarrousel {
    height: 500px;
}

.card{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s;
    cursor: pointer;
    border:0!important;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card img{
    max-height: 300px;
}

/* ------------------------- */

/* Media Querys */
@media only screen and (max-width: 1000px) {
    .topNav {
        padding: 2.5rem;
    }
    .nav-right {
        display: none;
    }

    .nav-item{
        border-bottom: 1px solid lightgray;
        width: 100%!important;
    }
    .navbarItems{
        width: 100%!important;
    }
}
/* ------------------------- */

