{% extends "/templates/layout.twig" %}

{% block css %}

    <style>
        .footerContainer {
            display: none;
        }
    </style>

{% endblock %}

{% block content %}
    <a href="/panel/products">Ir a productos</a>
{% endblock %}

{% block js %}

{% endblock %}