{% extends "/templates/layout.twig" %}
{% block css %}
    <style>

    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row m-5 p-0 d-flex flex-column justify-content-center align-items-start">
            <div class="col-12 mb-5">
                <h1 class="font-weight-bold mb-5">Asuntos Legales</h1>
                <p class="font-weight-bold">Somos UNIKE.com Limited (número de compañía 4321421), una compañía
                    registrada en España. Nuestra sede se encuentra en Madrid, HP.º de la Castellana, 216, 28046 Madrid
                    , España</p>

                <p class="font-weight-bold">Estos términos se aplican siempre que compras en nuestra tienda (o accedes a
                    nuestros servicios, aplicaciones y sitios web (nuestros "Sitios web")). Son importantes para ambos,
                    ya que establecen lo que esperamos nosotros de ti y tú de nosotros, y también te ofrecen información
                    que puede resultarte de utilidad. Puedes encontrar más información en nuestras Páginas de Ayuda (que
                    también forma parte de estos términos). Ni que decir tiene que puedes contactar con nuestro servicio
                    de Atención al Cliente siempre que necesites cualquier cosa adicional.</p>

                <p class="font-weight-bold">Mantenemos al día tanto estos términos como las Páginas de Ayuda, y los
                    modificamos con asiduidad, así que no te olvides de volver a consultarlos antes de cada compra, ya
                    que se aplicará siempre la última versión de los mismos.</p>

                <p class="font-weight-bold">Derecho legal de cancelación en un plazo de 14 días</p>

                <p class="font-weight-bold">Puedes cancelar tu pedido en un plazo de 14 días desde su recepción
                    rellenando el formulario de cancelación. Envíanoslo por email a cancelacion@asos.com y devuélvenos
                    los productos. Tienes 14 días (a partir del día laborable posterior a la recepción de tu pedido)
                    para cancelar tu contrato de pedido con ASOS para que podamos ofrecerte un reembolso total de los
                    artículos comprados, así como los gastos de envío (en caso de que hayas pagado gastos de envío).</p>

                <p class="font-weight-bold">Si quieres devolver todo tu pedido y has pagado gastos de envío, te
                    devolveremos el coste de un envío estándar a tu país, incluso si has elegido un método de envío más
                    rápido. Por ejemplo, si has pagado 10 € por el Envío al Siguiente Día Laborable, pero el Envío
                    Estándar cuesta 3 €, te reembolsaremos 3 €. En caso de que el artículo sea incorrecto o defectuoso,
                    te reembolsaremos el coste total del envío. Por ejemplo, si has pagado 10 € por el Envío al
                    Siguiente Día Laborable, te reembolsaremos 10 €. Si solo nos devuelves parte de tu pedido, la
                    solicitud de reembolso de los gastos de envío no podrá tenerse en cuenta.</p>

                <p class="font-weight-bold">Si ya has recibido tu pedido, tendrás que devolvernos los artículos que
                    quieras cancelar. Una vez nos hayas informado de tu intención de cancelar el pedido, te explicaremos
                    el proceso a seguir.</p>

                <p class="font-weight-bold">Los artículos devueltos no deben haber sido usados y deben estar en su
                    estado original. Serán inspeccionados cuando los recibamos.</p>

                <p class="font-weight-bold">Intentamos aceptar todas las devoluciones. Los artículos devueltos deben
                    conservar las etiquetas, pero no es necesario que el embalaje de la devolución sea el del envío. Sin
                    embargo, es su responsabilidad asegurarte de que los artículos devueltos estén bien empaquetados
                    para que no se dañen durante el viaje de vuelta. En el caso de que un artículo devuelto llegue en
                    condiciones inapropiadas, te enviaremos el artículo de vuelta y no podremos procesar el reembolso.
                    Si no recibimos tu pedido cancelado, es posible que organicemos una recogida a tu cargo.</p>
            </div>

            <div class="col-12 mb-5">
                <h1 class="font-weight-bold mb-5">Para ti</h1>
                <p class="font-weight-bold">Para comprar en UNIKE, necesitas:</p>

                <div class="font-weight-bold">
                    <ul>
                        <li>Tener al menos 16 años de edad;</li>
                        <li>Tener una tarjeta de crédito o débito que aceptemos (en la parte inferior de la web puedes
                            encontrar una lista actualizada de los proveedores de pago que aceptamos);
                        </li>
                        <li>tener autorización para usar esa tarjeta de crédito o débito (por ejemplo, que esté a tu
                            nombre o tengas permiso para usarla)
                        </li>
                    </ul>
                </div>

                <p class="font-weight-bold">Una cosa más: algunos de los productos que se venden en nuestras webs pueden
                    no ser adecuados para menores de 18 años.</p>
            </div>
            <div class="col-12 mb-5">
                <h1 class="font-weight-bold mb-5">Garantia de bienes de consumo</h1>
                <p class="font-weight-bold">En caso de que recibas un producto defectuoso, procederemos según
                    corresponda a tramitar su reparación, sustitución, rebaja del precio o resolución del contrato.
                    Estas gestiones serán gratuitas para ti.</p>

                <p class="font-weight-bold" Deberás informarnos de dicha falta de conformidad a través de nuestro equipo
                   de Atención al Cliente en un plazo de dos meses desde que tuviste conocimiento de ella.
                </p>

                <p class="font-weight-bold">Una vez nos hayas puesto al corriente debidamente sobre el producto
                    defectuoso, podremos solicitarte que nos envíes de vuelta el producto (y nosotros te reembolsaremos
                    los gastos de envío correspondientes) con el fin de investigar la naturaleza del defecto del
                    producto antes de proceder a tomar las posteriores medidas correspondientes.</p>

                <p class="font-weight-bold">No nos haremos responsables de la reparación, sustitución o resolución del
                    contrato durante este período de tiempo en caso de tratarse de defectos derivados del uso cotidiano
                    de la prenda, teniendo en cuenta el ciclo de vida del producto en cuestión.</p>
            </div>
            <div class="col-12 mb-5">
                <h1 class="font-weight-bold mb-5">Mas consultas en cuanto a la parte legal</h1>
                <p class="font-weight-bold">Tenemos derecho a modificar, eliminar o alterar en cualquier momento tanto
                    nuestros servicios como cualquier parte del sitio web (incluidos nuestros términos y
                    condiciones).</p>

                <p class="font-weight-bold">Tanto estos términos como nuestras transacciones y relaciones contigo están
                    sujetos a la ley inglesa y a la jurisdicción exclusiva de los tribunales ingleses.
                </p>

                <p class="font-weight-bold">Sin perjuicio de lo anterior y para los envíos realizados a consumidores
                    finales con residencia legal en los territorios españoles mencionados en estas Condiciones (ver
                    Cláusula Condiciones de Venta) y en la medida en que sea aplicable, las leyes españolas y europeas
                    también son de aplicación; en especial la Ley 34/2002 de 11 de Julio “Ley de Servicios de la
                    Sociedad de la Información y del Comercio Electrónico”, y la Directiva 2011/83/EC sobre los derechos
                    de los consumidores, y ello debido a que los consumidores españoles o con residencia en España son
                    parte de la relación comercial descrita en las presentes condiciones.
                </p>
            </div>
        </div>
    </div>
{% endblock %}